{% extends 'base.html' %}
{% macro display_comments(comments) %}
<div class="container">
</div>
<div class="card-columns">
    {% for comment in comments %}
    <div class="card shadow-sm rounded">
        <div class="card-header bg-light">
            <p class="text-center text-secondary text-bold">{{comment.post.title}}</p>
        </div>
        <div class="card-body">
            <p class="text-center">{{comment.comment}}</p>
        </div>
         
    </div>
    {% endfor %}
</div>

{% endmacro %}