{% extends 'base.html'%}
{% from 'pitch_disp_macros.html' import display_pitches%}
{% block content%}
<section class=" bg-landing bg-primary outer">
    <div class="p-5  text-center bg-transparent container">
        <div class="p-5">
            <h1 class="display-4 font-weight-normal text-white">Pitch it</h1>
            <p class="lead font-weight-normal text-white">get recognised by other pitchers:</p>
            <div class= 'p-5'>
                <a class="btn btn-outline-light btn-sm  mt-2" href="/new_post"> Create Pitch</a>
                <a class="btn btn-outline-light btn-sm  mt-2" href="/posts">View Pitches</a>
            </div>
        </div>
    </div>
</section>
{% endblock %}