{% extends 'base.html' %}
{% macro display_pitches(posts) %}
<div class="container-fluid">
    <div>
        <br><br>
    </div>
    <div class="jumbotron bg-primary shadow-lg mt-3">
        <div class="overlay text-center">
            <h1 class="text-center text-bold text-white">Pitches</h1>
            <a href="/new_post"><button class="btn btn-outline-light btn-sm text-center">Create Pitch</button></a>
        </div>
    </div>
    <div class="card-columns">
        {% if posts %}
        {% for my_post in posts %}
        <div class="card">
            <div class="card-header text-center text-bold text-secondary">
               <p>Title: {{ my_post.title }}</p> 
            </div>
            <div class="card-body text-center">
                <p>{{my_post.post}}</p>
                <p class="text-muted text-bold"><br>Category: {{my_post.category}}</p>
            </div>
            <div class="card-footer row ">
                <div class="col-md-3">
                    <a href="/comment/{{my_post.id}}"><button class="btn btn-info btn-sm m-2">Comment</button></a>
                </div>
                <div class="col-md-4">
                    <a href="/like/{{my_post.id}}"><button class="btn btn-success btn-sm m-2">Upvote {{my_post.up_vote.count()}}</button></a>
                </div>
                <div class="col-md-5">
                    <a href="/dislike/{{my_post.id}}"><button class="btn btn-danger btn-sm m-2">DownVote {{my_post.down_vote.count()}}</button></a>
                </div>
            </div>
        </div>
        {% endfor %}
        {% endif %}
    </div>
</div>
{% endmacro %}